.wrapper {
    height: 500px;
    border: 1px solid black;
  }
  
  .wrapper-item-1, .wrapper-item-2, .wrapper-item-3 {
    height: 100px;
    background-color: red;
    border: 1px solid brown;
    margin-bottom: 20px;
  }
  /*# sourceMappingURL=style.css.map */
  